*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    background-color: #D88373;
    padding: 40px 0;
}

.recipe{
    padding: 20px;
    text-align: left;
    margin: 0 auto;
    width: 50%;
}

ul, ol{
    margin: 20px, 0;
}

footer{
    background-color: #D88373;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}